body {
	background-image: url(Images/Sakura.png);
}

#Container {
	width: 1550px;
	height: 150px;
	position: relative;
}

#Orange {
	width: 450px;
	height: 100px;
	float: left;
	margin-left: 20px;
	margin-top: 30px;
}

#SignIn {
	width: 100px;
	height: 0 auto;
	float: right;
	margin-right: 20px;
	margin-top: 50px;
}

#About {
	width: 100px;
	height: 0 auto;
	float: right;
	margin-right: 20px;
	margin-top: 50px;
}

#Wrapper {
	width: 1550px;
}

#Image {
	width:540px;
	height: 540px;
	margin-left: 20px;
	float: left;
}

#Right {
	width: 950px;
	height: 540px;
	float: right;
	margin-right: 20px;
}

#Center {
	width: 700px;
	height: 470px;
	margin-left: 120px;
	margin-top: 50px;
}

#Important {
	width: 500px;
	height: 90px;
	margin-left: 100px;
}

#paragraph {
	width: 700px;
	height: 145px;
}

#Button1 {
	width: 400px;
	height: 75px;
	margin-left: 140px;
	border-style: solid;
	border-color: #E45825;
}

#wrapper2 {
	width: 130px;
	height: 58px;
	margin-left: 280px;
	margin-top: 25px;
}

#apple {
	width: 48px;
	height: 58px;
	float: right;
}

#google {
	width: 53px;
	height: 58px;
}

#Button2 {
	width: 200px;
	height: 65px;
	margin-top: 10px;
	margin-left: 240px;
}